{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Admin Page</title>
    <script src="https://unpkg.com/htmx.org"></script>
    {% tailwind_css %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
</head>
<body class="bg-gray-200">
<div class="flex h-screen">
    <!-- Side Navigation -->
    {% include 'AssistanceApp/sidenav.html' %}

    <!-- Main Content Area -->
    <div class="w-full bg-white p-4" id="main">
        {% block content %}{% endblock %}
    </div>
</div>
</body>
</html>