{% extends "sheltermanagement/base.html" %}

{% block content %}
    <div class="room-details">
        <div>
            <a href="{% url 'rooms' %}" class="bg-blue-300 hover:bg-blue-100 text-black font-bold py-1 px-3 rounded">
                <<<
            </a>
        </div>
        <h2>Room Details</h2>
        <p><strong>Room Number:</strong> {{ room.room_number }}</p>
        <p><strong>Capacity:</strong> {{ room.capacity }}</p>
        <p><strong>Gender Allocation:</strong> {{ room.get_gender_allocation_display }}</p>
        <div class="flex flex-wrap -mx-2">
            {% for bed in room.beds.all %}
                <div class="w-full sm:w-1/2 md:w-1/3 px-2 py-2">
                    <div class="bg-gray-100 rounded-lg p-4">
                        <h4 class="font-bold">Bed {{ bed.bed_number }}</h4>
                        <p>Status: {{ bed.is_occupied|yesno:"Occupied,Available" }}</p>
                        {% if bed.is_occupied %}
                            <p>Guest Wallet: {{ bed.guest.wallet_address }}</p>
                            <p>Guest Gender: {{ bed.guest.gender }}</p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
