{% load static tailwind_tags %}
<div class="w-56 bg-yellow-500 text-white p-4 ">
    <div class="flex justify-center items-center">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
             class="w-20 h-20">
            <path stroke-linecap="round" stroke-linejoin="round"
                  d="M2.25 8.25h19.5M2.25 9h19.5m-16.5 5.25h6m-6 2.25h3m-3.75 3h15a2.25 2.25 0 0 0 2.25-2.25V6.75A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25v10.5A2.25 2.25 0 0 0 4.5 19.5Z"/>
        </svg>

    </div>
    <a href="{% url 'finance_dashboard' %}" class="block py-2 px-4 text-white hover:bg-yellow-400">Dashboard</a>
    <a href="{% url 'ethereum_demo' %}" class="block py-2 px-4 text-white hover:bg-yellow-400">Ethereum Demo</a>
    <a href="{% url 'finance_products' %}" class="block py-2 px-4 text-white hover:bg-yellow-400">Product Sale Demo</a>
</div>